@font-face {
  font-family: 'Churchward';
  src: local('Churchward'), url('../fonts/Churchward\ Lorina\ Black.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0692e394;
  margin: 80px 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Churchward";
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.nav__container__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #0692e3f1;
  font-size: 2rem;
  font-weight: 500;
}

.nav__container__link-logo {
  width: 1.4rem;
  height: auto;
  margin-right: 2px;
}

.card {
  min-width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.938);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 40px;
}

.card__header__link {
  background-color: black;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card__content-title {
  display: flex;
  align-items: start;
}

.card__content-link {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #77858df1;
}

@media screen and (max-width: 680px) {
  .card {
    min-width: none;
    margin: 20px;
    flex-direction: column;
  }
  .card__header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card__header__link {
    width: 100%;
    height: 100%;
  }
  .card__header__link-image {
    width: 100%;
    height: 100%;
  }
  .card__content {
    width: 100%;
    height: 100%;
    margin: 0 15px;
    display: flex;
  }
  .card__content-title, .card__content-link {
    margin: 10px 15px;
  }
}